:root {
    --main-bg-colour: rgb(255, 218, 107);
    --project-bg-colour: rgb(255, 235, 175);
    --project-bg-hover: rgb(255, 242, 204);
    --main-bg-contrast-colour: rgb(189, 69, 0);
    --proj-contrast-border: rgb(174, 131, 0);
    --sidebar-colour: rgb(255, 123, 0);
    font-size: 62.5%;
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: Poppins, 'sans-serif';
    font-size: 1.6rem;
}

/*general layout*/
body{
    display: grid;
    background-color: var(--main-bg-contrast-colour);
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 5fr;
    height: 100vh;
    gap: 2px;
    padding: 8px;
}

header {
    grid-column: 2 / 3;
    grid-row: 1 / 1;
    background-color: var(--main-bg-colour);
    display: grid;
    grid-template-columns: 1fr 0.75fr;
    gap: 3px;
    
}

.sidebar {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    background-color: var(--sidebar-colour);
    padding: 8px;
}

.core-container {
    grid-column: 2 / 3;
    grid-row: 2 /3;
    background-color: var(--main-bg-colour);
    display: grid;
    grid-template-columns: 1fr 300px;
}


/*more nitty gritty css*/
header > .searchbar {
    grid-column: 1;
    grid-row: 1;
}

header > .notices {
    grid-column: 2;
    grid-row: 1;
}

header > .greeting {
    grid-column: 1;
    grid-row: 2;
    margin-left: 32px;
    gap: 16px;
}

header > .action {
    grid-column: 2;
    grid-row: 2;
}

header > .searchbar {
    padding: 8px;
    display: flex;
    justify-content: start;    
    margin-left: 32px;
    gap: 16px;
}

header > .searchbar > #search {
    flex: 1;
}

header > .notices {
    padding: 8px;
    display: flex;
    gap: 16px;
    justify-content: end;
    align-items: center;
    margin-right: 32px;
}

header > .greeting {
    padding: 8px;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
}

header > .greeting > #avatar64 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

header > .greeting > #greetingText {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

header > .actions {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 16px;
    margin-right: 32px;
}

header > .actions > button {
    width: 100px;
    border-radius: 20px;
    box-shadow: 1px 1px 2px black;
}

.core-container > .projects {
    display: grid;
    background-color: var(--project-bg-colour);
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    overflow: auto;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    justify-content: space-between;
    align-items: stretch;
    gap: 8px;
    padding: 8px;
}
.core-container > .projects > .proj-item {
    border: 2px solid var(--proj-contrast-border);
    border-radius: 20px;
    padding: 8px;
    box-shadow: 1px 1px 3px var(--proj-contrast-border);
    transition: 1s;
    height: 200px;
}

.core-container > .projects > .proj-item > .proj-title {
    font-weight: bold;
    color: var(--proj-contrast-border)
}

.core-container > .projects > .proj-item > .proj-desc{
    font-size: 0.8em;
}

.core-container > .projects > .proj-item:hover {
    background-color: var(--project-bg-hover);
    size: 1.2;
}

.core-container > .announcements {
    background-color: red;
    grid-column: 2 / 3;
    grid-row: 1/ 2;
}

.core-container > .trending {
    background-color: orange;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}